<!DOCTYPE html>
    <head>
    </head>
        <title>{{ title }}</title>
    <body>
        <h1> Controlling LED </h1>
        <p> Led brightness: {{ led_status }}</p>
        <form action=/led>
          Desired brighness:
          <input type="text" name="ledbrightness">
          <br><br>
          <input type="submit" value="Send">
        </form>

    </body>
</html>
