<!DOCTYPE html>
    <head>
    </head>
        <title>{{ title }}</title>
    <body>

        <p> Led pin is now: {{ led_status }}</p>
        <p> <a href="/led/on"><button>Turn On</button></a>
        <p> <a href="/led/off"><button>Turn Off</button></a>

    </body>
</html>
