<!DOCTYPE html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
        <title>{{ title }}</title>
    <body>
      <div class="w3-container">
          <h2>{{ title }}</h2>
        <a href="/led/on" class="w3-button w3-black">Turn On</a>
        <a href="/led/off" class="w3-button w3-black">Turn Off</a>
      </div>

    </body>
</html>
